<% title "Pick"%>

<h1>Round: <%= @pick.round %></h1>
<h1>Pick Number: <%= @pick.pick_number %></h1>
<h1>Team: <%= @pick.team.name %></h1>

<%= render :partial => '/players/players', :locals => {:players => @players, :pick => @pick }%>

