<% title "Draft" %>

<p>
  <strong>Name:</strong>
  <%=h @draft.name %>
</p>

<p>
  <%= link_to "Edit", edit_draft_path(@draft) %> |
  <%= link_to "Destroy", @draft, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", drafts_path %>
</p>
